@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Festive&family=Inter:wght@100;200;300;400&family=Montserrat:wght@500&family=Open+Sans:wght@300&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
.bg-main {
    background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
}

.txt-shadow {
    text-shadow: 3px 3px 10px rgb(65, 62, 62);
}

.txt-button-shadow {
    text-shadow: 3px 3px 4px rgb(65, 62, 62);
}

.bg-input {
    background-color: #00DBDE;
    background-image: linear-gradient(90deg, #00DBDE 0%, #FC00FF 100%);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

.bg-submit-button {
    transition: all 0.3s;
    background-size: 120% 120%;
    background-image: linear-gradient( 68.3deg, rgba(245, 177, 97, 1) 0.4%, rgba(236, 54, 110, 1) 100.2%);
}

.bg-submit-button:hover {
    background-size: 100% 500%;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}